.about-container {
  margin: 4rem 6rem;
  color: #2a2a2a;
  text-align: start;
}

.about-container h1 {
  padding-bottom: 1rem;
}

.about-container p {
  padding-bottom: 2rem;
}
.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.image-gallery img {
  width: calc(33.33% - 1rem); /* Assuming 1rem total spacing between images */
  height: auto;
  border-radius: 7px; /* Optional: to give rounded corners to images */
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11); /* Optional: to give images a subtle shadow */
}

@media screen and (max-width: 850px) {
  .image-gallery {
    flex-direction: column;
  }

  .image-gallery img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .about-container {
    margin: 4rem 2rem;
  }
}


