.Contcard {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.I-card {
  width: 32%;
  text-align: center;  /* 设置为居中 */
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.8rem;
}

.I-image {
  height: calc(35vw * (1200/ 1200));  
  overflow: hidden;
  border-radius: 7px;
}

.I-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.contact-info {
  margin: 10px 0; /* 上下增加10px的margin */
}

/* 去除图片缩放效果 */
.I-card:hover img {
  transform: none;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .Cont {
    margin: 4rem 2rem;
  }
  .Contcard {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
  .I-card {
    margin-bottom: 1.5rem;
    height: 100%;
    width: 50%;
    border-radius: 7px;
  }
}
